<div>
        <nav class="navbar navbar-expand-lg bg-body-$green-900" style="width: 100%;">
        <div class="container-fluid">
            <a class="navbar-brand">EL EMPORIO DEL JARDIN / BASE DE DATOS </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">HOME</a>
                </li>
                <li>
                    <p>{{user.role}}</p>
                </li>
                <li>
                    <a href="/api/session/logout"><button>Salir</button></a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/products" method="get">
                <input class="form-control me-2" type="text" name="query" placeholder="Buscar producto..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
    {{#if message}}
        <div class="alert alert-warning">{{message}}</div>
    {{/if}}
    <div class="gallery">
        {{#each products}}
            <div class="product">
                <h2>{{this.title}}</h2>
                <img src="{{this.thumbnail}}" alt="{{this.title}}">
                <p>{{this.description}}</p>
                <p>Category: {{this.category}}</p>
                <p>Price: {{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Owner: {{this.owner}}</p>
                <div>
                    <button>EDITAR PRODUCTO</button>
                </div>
                <br>
                <div>
                    <button onclick="deleteProduct('{{this._id}}')">ELIMINAR PRODUCTO</button>
                </div>
            </div>
        {{/each}}
    </div>
    <table class="table table-striped table-bordered" style="width: 100%;">
      <thead>
        <th>Nombre</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete User</th>
        <th>Save</th>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.role}}</td>
            <td class="flex justify-center">
                <select id="edit_role_{{this._id}}">
                    <option value="user">User</option>
                    <option value="premium">Premium</option>
                    <option value="admin">Admin</option>
                </select>
            </td>
            <td>
                <button onclick="deleteUser('{{this._id}}')">Delete</button>
            </td>
            <td>
                <button onclick="editRole('{{this._id}}')">Save</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>

<script src="/public/js/admin.js"></script>